:root {
  --primary-green: linear-gradient(135deg, #33d35e 0%, #2ab6d9 99.58%);
  --secondary-green: rgba(48, 200, 143, 1);
  --dark-blue: rgba(45, 49, 77, 1);
  --grey: rgba(149, 151, 165, 1);
  --white: #ffffff;
  --black: #000000;
  --primary-font: "Public Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--primary-font);
  font-size: 62.5%; /*  improves accessibility, 1rem; 10px */
}

body {
  font-size: 1.6rem;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;

  nav {
    font-size: 1.4rem;
    
    ul {
      list-style: none;
      display: flex;
    }

    li {
      padding: 0 1rem;

      a {
        color: var(--grey);
      }
    }
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }

  .content img {
    width: 100%;
    max-width: 200px;
    height: auto;
  }
}

a {
  color: #000000;
  text-decoration: none;
}

button {
  background: var(--primary-green);
  font-family: var(--primary-font);
  font-size: 1.4rem;
  border: none;
  border-radius: 2.2rem;
  padding: 1rem 2rem;
  color: var(--white);
}

section {
  width: 100%;
  padding: 6rem 0;
}

.container {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
